<a href="https://colab.research.google.com/github/niteesh555786/My-Notebook-Collection/blob/master/Problem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
!wget -O train.csv "https://www.dropbox.com/sh/ti9ta6mzdx56x1f/AAA-JbNaAHzMs_Xs3xwu7K53a/Training.csv?dl=0"

In [0]:
!wget -O test.csv "https://www.dropbox.com/sh/ti9ta6mzdx56x1f/AACZjJ4lHrh_RTDaCsQ5HeKia/Testing.csv?dl=0"

In [0]:
!wget -O sample.csv "https://www.dropbox.com/sh/ti9ta6mzdx56x1f/AACGdX2acMpsNpia_7FN_2c9a/Sample%20Submission.csv?dl=0"

In [12]:
!ls

sample.csv  sample_data  test.csv  train.csv

#DataSet v1 Analysis

In [0]:
df=pd.read_csv('train.csv')

In [13]:
df.head()

   Cycle  Type  EndTime   Time  Values
0      2     2   3490.0  101.0  20.402
1      2     2   3490.0  102.0  20.402
2      2     2   3490.0  103.0  20.402
3      2     2   3490.0  104.0  20.402
4      2     2   3490.0  105.0  20.402

In [17]:
cycle_set=df['Cycle'].unique()
len(cycle_set)

40

In [0]:
def makeFeatureDataset(df):
  cycle_set=df['Cycle'].unique()
  
  data=[]
  for i in range(len(cycle_set)):
    val=[]
    df_temp=df[df['Cycle']==cycle_set[i]]
    #val.append(cycle_set[i])
    val.append(float('%.3f'%(df_temp['Values'].mean())))
    val.append(float('%.3f'%(df_temp['Values'].var())))
    val.append(float('%.3f'%(df_temp['Values'].std())))
    val.append(df_temp.iloc[0]['EndTime'])

    data.append(val)
    
  col=['Mean', 'Variance', 'Std-Dev', 'EndTime']
  df_feature = pd.DataFrame(data, columns = col)
    
  return df_feature

In [0]:
df_feature= makeFeatureDataset(df)

In [44]:
df_feature.head()

     Mean  Variance  Std-Dev  EndTime
0  16.970     2.257    1.502   3490.0
1  18.490     1.851    1.360   2556.0
2  15.356     8.570    2.928   3909.0
3  18.716     2.402    1.550   2113.0
4  16.926     5.426    2.329   2978.0

In [45]:
len(df_feature)

40